{% extends 'website_base.html' %}

{% load thumbnail %}

{% block page_title %}How To Enroll | ER Alert{% endblock %}

{% block main_content %}
	<div class="container space-2 space-top-md-2 space-bottom-md-2 space-top-lg-2">
		<div class="row justify-content-lg-between align-items-lg-center">
			<div class="col-12">
				<h1>How To Enroll</h1>

				<p>
					Thank you for your interest in using the ER Alert app! 
				</p>
				
				<p>
					<strong>If you are a patient,</strong> you can only download and use ER Alert if your health care team is receiving alerts from the app. 
					If your care team is not participating, you will not be able to use the app.
				</p>

				<p>
					<strong>If you are a health care provider</strong> who is interested in using ER Alert with your patients, please contact Dr. David Liss at <a href="mailto:david.liss@northwestern.edu">david.liss@northwestern.edu</a>.
				</p>
			</div>
		</div>
	</div>
{% endblock %}