<p>Welcome to YouthWell Punjab Dashboard!</p>

<p>When you entered your e-mail address, we generated a unique 8-digit app code to identify you:</p>

<p><b style="font-size: larger;">{{ participant.identifier }}</b></p>

<p>You may be asked to enter this code in other surveys, so please save this e-mail.</p>

<p>If you have any questions, feel free to reach out at <a href="mailto:harshiv.chhabra@ifmr.ac.in">harshiv.chhabra@ifmr.ac.in</a>. Our team will get back to you within 24 hours.</p>

<p>- The Phone Dashboard Team</p>
